*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: myFont;
  src: url('font/UTM\ AMERICANAITALIC.TTF');
}
html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    height: auto;
    background-color: #C9F5F5;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 440px;
    height: 120px;
    background-color: #CCFFCC;
}
.header .logo{
    width: 30%;
    height: 120px;
    padding-left: 19px;
}
.header .logo img{
    width: 100%;
    height: 120px;
}
.header .menu{
    width: 70%;
}
.menu ul{
    display: flex;
}
.menu li{
    list-style-type: none;
}
.menu ul li a{
    padding: 46px 24px;
    text-decoration: none;
    display: block;
    color: #7e7e31;
    font-weight: bold;
    font-size: 20px;
}
.menu li:hover a{
    color: black;
    background-color: white;
}
#slider{
    position: relative;
    margin-top: 6px;
    padding-top: 100%;
    background: url('bannerrrr.jpg') top center / cover no-repeat;

}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  hr {
    height: 1px;
    border: none;
    background-color: #ccc;
    margin: 0;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .sanpham1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .anhsanpham {
    flex-basis: 47%;
    margin-right: 20px;
    position: relative;
  }
  
  .anhsanpham img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-out;
  }
  .anhsanpham:hover img{
    transform: scale(1.2);
    z-index: 1;
  }
  .canchinh{
    margin-top: 200px;
  }
  #best{
    text-align: center; 
    color: red;
    font-size: 34px;
  }
  
  .thongtingioithieusanpham1 {
    flex-basis: 70%;
  }
  
  .thongtingioithieusanpham1 p {
    margin: 0;
    line-height: 1.5;
  }
  
  .muangay {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .anhshop {
    margin-right: 20px;
  }
  
  .anhshop:last-child {
    margin-right: 0;
  }
  
  .anhshop img {
    width: 100%;
    height: auto;
  }

  .khuyenmai {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hang {
    width: 45%;
    margin-bottom: 50px;
}

.cot {
    background-color: #00EBEB;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px #7e7e31;
}
.anhcot{
    position: relative;
}

.anhcot img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease-out;
}
.anhcot:hover img{
    transform: scale(1.2);
    z-index: 1;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .row-col1 {
    flex-basis: 48%;
  }
  
  .anhrow-col1 {
    position: relative;
  }
  
  .anhrow-col1 img {
    width: 100%;
    transition: transform 0.3s ease-out;
  }
  .anhrow-col1:hover img{
    transform: scale(1.2);
    z-index: 1;
  }
  
  .anhrow-col1 h4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    background-color: rgba(238, 232, 170, 0.5);
    color: #8b4513;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
  }
  
  .anhrow-col1 a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #1C86EE;
    font-size: 14px;
    text-decoration: none;
    text-decoration: none;
  }
.footer {
    background-color: #CCFFCC;
    padding: 50px 0;
  }
  
  .gioithieu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 270px;
  }
  
  .gioithieu-item {
    flex-basis: 30%;
    margin-bottom: 20px;
  }
  
  .gioithieu-item h4 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .gioithieu-item p {
    margin: 0;
  }
  
  .gioithieu-item a {
    color: blue;
    text-decoration: none;
  }
  
  .gioithieu-item a:hover {
    text-decoration: underline;
  }